In [1]:
from binance.client import Client
import pandas as pd
import datetime

In [ ]:
api_key ='<Your API Key>'
api_secret ='<Your API Secret>'


client = Client(api_key, api_secret)

1. api_key and api_secret: These are placeholders for your Binance API key and secret. Replace 'your_api_key' and 'your_api_secret' with your actual credentials.

2. Client: is an instance is created using the provided API credentials. If you want to get in advanced details of the library and explore list of methods as get_symbol_info , get_historical_klines etc you can visit:

In [ ]:
Symbol = 'BTCUSDT'


#Format (year, month, day,hour, minute, second)
start_time = datetime.datetime(2025, 1, 1, 0, 0, 0)
end_time = datetime.datetime(2025, 1, 31, 0, 0, 0)

In [7]:
klines = client.get_historical_klines(
    symbol = Symbol,
    interval = Client.KLINE_INTERVAL_5MINUTE,
    start_str=str(start_time), 
    end_str=str(end_time)
)

/var/folders/zb/bl3vjblx59ggp4ygks32q_7r0000gn/T/ipykernel_55143/155395170.py:1: DeprecationWarning: Parsing dates involving a day of month without a year specified is ambiguious
and fails to parse leap day. The default behavior will change in Python 3.15
to either always raise an exception or to use a different default year (TBD).
To avoid trouble, add a specific year to the input & format.
See https://github.com/python/cpython/issues/70647.
  klines = client.get_historical_klines(

In [14]:
df = pd.DataFrame(klines, columns=['Open Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close Time', 'Quote Asset Volume', 'Number of Trades', 'Taker Buy Base Asset Volume', 'Taker Buy Quote Asset Volume', 'Ignore'])
columns_convert = ['Open', 'High', 'Low', 'Close', 'Volume', 'Quote Asset Volume', 'Number of Trades', 'Taker Buy Base Asset Volume', 'Taker Buy Quote Asset Volume']

for col in columns_convert:
    df[col] = df[col].astype(float)

df

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,Taker Buy Base Asset Volume,Taker Buy Quote Asset Volume,Ignore
0,1704067200000,42283.58,42397.23,42261.02,42397.23,155.25731,1704067499999,6.572926e+06,6350.0,106.05732,4.490262e+06,0
1,1704067500000,42397.22,42432.74,42385.26,42409.96,141.31102,1704067799999,5.993375e+06,5134.0,69.45156,2.945452e+06,0
2,1704067800000,42409.97,42488.09,42409.96,42488.00,135.14249,1704068099999,5.738386e+06,5167.0,73.25966,3.110338e+06,0
3,1704068100000,42488.00,42554.57,42458.58,42458.85,163.32541,1704068399999,6.943230e+06,6153.0,82.81591,3.520689e+06,0
4,1704068400000,42458.85,42491.10,42445.84,42473.93,117.27112,1704068699999,4.979136e+06,3094.0,49.06278,2.083183e+06,0
...,...,...,...,...,...,...,...,...,...,...,...,...
210524,1767224400000,87652.46,87686.09,87652.46,87685.31,10.47354,1767224699999,9.183274e+05,2849.0,6.30129,5.524832e+05,0
210525,1767224700000,87685.31,87697.40,87663.92,87690.61,13.07752,1767224999999,1.146668e+06,2361.0,6.53555,5.730264e+05,0
210526,1767225000000,87690.60,87690.61,87641.14,87641.14,13.66626,1767225299999,1.198009e+06,2091.0,2.27534,1.994521e+05,0
210527,1767225300000,87641.15,87655.31,87641.14,87648.22,18.20491,1767225599999,1.595591e+06,2257.0,12.12158,1.062383e+06,0
210528,1767225600000,87648.21,87701.91,87632.74,87701.91,18.44460,1767225899999,1.616916e+06,4776.0,11.75992,1.030904e+06,0